:root {
	--mw: 37rem;
}


html {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
	width: 100%;
	background-color: white;
	margin: 0;
}

.navigation {
	width: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.0);
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.navigation-container {
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 50px 5px 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	align-content: center;
}

.logo {
	height: 100%;
}

.navbar {
	height: 100%;
	display: flex;
	align-items: center;
}

.nav-link {
	height: 100%;
	display: flex;
	align-items: center;
}

.w-nav-link {
	font: 15px;
}

.header img {
	width: 75px;
}

.header-section {
	padding-left: 1rem;
	padding-right: 1rem;
	max-width: var(--mw);
	margin-top: 2rem;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 2rem;
	margin-bottom: 0.5rem;
	border-bottom: 1px solid #eee;
}

.header-container {
	margin-left: auto;
	margin-right: auto;
}

.project-name {
	font-size: 24px;
	font-weight: 600;
	color: black;
	margin-bottom: 10px;
}

.project-client {
	font-size: 16px;
	color: black;
	margin-bottom: 10px;
}

.project-theme {
	font-size: 14px;
	color: grey;
	margin-bottom: 10px;
}

.content-section {
	padding-left: 1rem;
	padding-right: 1rem;
	max-width: var(--mw);
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 2rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid #eee;
}

.content-container {
	margin-left: auto;
	margin-right: auto;
}

.content-text {
	color: #515151;
	font: 15px;
	line-height: 1.6;
}

.content-image {
	width: 100%;
	margin-top: 25px;
	margin-bottom: 25px;
}

.content-image img {
	width: 100%;
	object-fit: cover;
}

.footer-section {
	padding-left: 1rem;
	padding-right: 1rem;
	max-width: var(--mw);
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 2rem;
	margin-bottom: 2rem;
}

.footer-container {

	margin-left: auto;
	margin-right: auto;
}

.footer-container a {
	font: 15px;
}

