@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900');

@font-face {
	font-family: 'CB';
	src: url("../fonts/GeneralSans-Variable.ttf") format("truetype");
	}

:root {
	--mw: 40rem;
}


html {
	/*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
	font-family: Inter;
}

body {
	width: 100%;
	background-color: white;
	margin: 0;
}

/* Masthead */
.masthead {
	padding-top: 1rem;
	padding-bottom: 0.3rem;
	margin-bottom: 1rem;
	border-bottom: 1px solid #eee;
	box-sizing: border-box;
	display: block;
}

.masthead-container {
	display: block;
	max-width: var(--mw);
	padding-left: 1rem;
	padding-right: 1rem;
	margin-left: auto;
	margin-right: auto;
	letter-spacing: -.025rem;
	margin-top: 0;
	margin-bottom: 0;
	color: #505050;
	text-rendering: optimizeLegibility;
	font-family: 'CB';
	font-size: 20px;
}

.masthead-container a {
	font-weight: 550;
	text-decoration: none;
	color: black;
}

.masthead-container a:hover {
	text-decoration: none;
	background: linear-gradient(120deg, rgb(81, 77, 165) 0%, rgba(9,9,121,1) 27%, rgba(175,5,83,1) 72%, rgba(0,212,255,1) 100%);
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
	transition:  300ms ease-in;
}

/* Header Section */

.header-section {
	padding-left: 1rem;
	padding-right: 1rem;
	max-width: var(--mw);
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 4rem;
	border-bottom: 1px solid #eee;
	margin-top: 6rem;
	margin-bottom: 4rem;
}
small {
	font-size: 13px;
	color: #515151;
	margin: 0;
	font-style: italic;
}

.project-name {
	font-family: 'CB';
	font-size: 50px;
	line-height: 1.3;
	font-weight: 540;
	color: black;
	margin-bottom: 5rem;
	width: 95%;
}

.project-client-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 7%;
}

.project-client {
	font-size: 15px;
	color: black;
	line-height: 1.6;
}

.project-theme {
	font-size: 15px;
	/* color: grey; */
	background: linear-gradient(120deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 27%, rgba(175,5,83,1) 72%, rgba(0,212,255,1) 100%);
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
	line-height: 1.6;
	grid-column-start: 1;
	grid-column-end: 3;
}

/* Main Body Content Section */

.content-section {
	max-width: var(--mw);
	padding: 0 1rem;
	margin: 0 auto;
	margin-bottom: 3rem;
}

.content-text p {
	color: #515151;
	font: 16px;
	font-weight: 350;
	line-height: 1.7;
}

.content-text h2 {
	color: #252525;
	font-weight: 600;
}

.content-highlight p {
	font-size: 16px;
	color: #000000;
	line-height: 1.7;
	font-weight: 480;
	margin: 3rem 0;
}

/* Images */

.full-width-image {
	max-width: 1920px;
	margin: 3rem auto;
}

.full-width-image img {
	width: 100%;
	object-fit: cover;
	height: 40rem;
	margin: 0;
}
.full-width-image-nocrop {
	width: 100%;
	height: 100%;
	object-fit: cover;
	margin: auto;
}
img {
	width: 100%;
}
.full-caption {
	max-width: var(--mw);
	padding: 0 1rem;
	margin: 0 auto;
}

.full-caption p {
	margin-top: 0.5rem;
	color: grey;
	font-weight: 300;
	font-size: 12px;
}

.content-image {
	width: 100%;
	margin: 3rem 0;
}

.content-image img {
	width: 100%;
	object-fit: cover;
}

.half-caption {
	margin-top: 0;
}

.half-caption p {
	margin-top: 0.5rem;
	color: grey;
	font-weight: 300;
	font-size: 12px;
	line-height: 1.5;
}

/* Project Credit */
.credit-section { 
	max-width: var(--mw);
	padding: 2rem 1rem;
	margin: 4rem auto;
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
}

.credit-section h4 {
	font-family: 'CB';
	font-weight: 500;
	font-size: 28px;
	margin-bottom: 4rem;
}

.credit-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 7%;
	margin-bottom: 2rem;
}
.credit-grid a{
	color: #515151;
	font: 16px;
	font-weight: 350;
	line-height: 1.7;
	text-decoration: none;
}
.credit-grid a:hover{
	text-decoration: underline;
}

/* Footer */

.footer-section {
	max-width: var(--mw);
	padding: 0 1rem;
	margin: 4rem auto;
	
}

.footer-section a {
	text-decoration: none;
	color: #515151;
	font: 15px;
	background: 
	linear-gradient(to right, rgba(100, 200, 200, 1), rgba(100, 200, 200, 1)),
	linear-gradient(to right, rgba(255, 0, 0, 1), rgba(255, 0, 180, 1), rgba(0, 100, 200, 1));
  background-size: 0% 0.1em, 0 0.1em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 200ms;
}

.footer-section a:hover, 
.footer-section a:focus{
	background-size: 0 0.1em, 100% 0.1em;
	color: black;
}


