@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900');

		@font-face {
			font-family: 'CB';
			src: url('../fonts/GeneralSans-Variable.woff2') format('woff2'),
				 url('../fonts/GeneralSans-Variable.woff') format('woff'),
				 url('../fonts/GeneralSans-Variable.ttf') format('truetype');
				 font-weight: 200 700;
				 font-display: swap;
				 font-style: normal;
		  }

:root {
	--mw: 40rem;
}

html {
	/*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
	font-family: Inter;
	/* background-color: white; */
	background-color: white;
}

body {
	width: 100%;
	margin: 0;
}

@media only screen and (max-width: 600px) {
	.main-section.main-section a {	
		color: #515151;
		font-weight: 400;
		text-decoration: underline;
	}
	.links-section.links-section a {
		text-decoration: underline;
	}
	.worklist .workdesc {
		color: #3a3a3a;
	}
}

/* Masthead */

.masthead {
	padding-top: 1rem;
	padding-bottom: 0.3rem;
	margin-bottom: 1rem;
	border-bottom: 1px solid #eee;
	box-sizing: border-box;
	display: block;
}

.masthead-container {
	display: block;
	max-width: var(--mw);
	padding-left: 1rem;
	padding-right: 1rem;
	margin-left: auto;
	margin-right: auto;
	letter-spacing: -.025rem;
	margin-top: 0;
	margin-bottom: 0;
	color: #505050;
	text-rendering: optimizeLegibility;
	font-family: 'CB';
	font-size: 20px;
}

.masthead-container a {
	font-weight: 550;
	text-decoration: none;
	color: black;
}

.masthead-container a:hover {
	text-decoration: none;
	background: linear-gradient(120deg, rgb(81, 77, 165) 0%, rgba(9,9,121,1) 27%, rgba(175,5,83,1) 72%, rgba(0,212,255,1) 100%);
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
	transition:  300ms ease-in;
}


/* Content Section */

.description {
	padding: 0 1rem;
	max-width: var(--mw);
	margin: 4rem auto;
}

.description p{
	color: #515151;
	font-weight: 350;
	width: 75%;
	font-size: 15px;
	line-height: 1.7;
}

.main-section {
	padding: 0 1rem;
	max-width: var(--mw);
	margin: 2rem auto;
	border-bottom: 1px solid #eee;
}

.content-section {
	font-size: 15px;
	line-height: 1.7;
}

.work h4,
.writing h4,
.about-section h4,
.workshop h4,
.contact h4 {
	font-family: 'CB';
	font-weight: 500;
	font-size: 28px;
}

/* Work Section */

.work {
	margin-top: 7rem;
	padding: 0;
}

.workdesc{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 3%;
	font-size: 11px;
	line-height: 20px;
	color: rgb(209, 209, 209);
	margin: 0;
}

.plight {
	font-weight: 300;
}

/* Writing Section */
.worklist {
	margin-top: 3rem;
}

.worklisting {
	margin-bottom: 2rem;
	border-bottom: 0.1px solid #eee;
} 

.worklisting a {
	color: #515151;
	font-weight: 400;
	text-decoration: none;
	margin: 0;
	padding: 0;
	background: 
		linear-gradient(to right, rgba(100, 200, 200, 1), rgba(100, 200, 200, 1)),
		linear-gradient(to right, rgba(255, 0, 0, 1), rgba(255, 0, 180, 1), rgba(0, 100, 200, 1));
	background-size: 0% 0.1em, 0 0.1em;
	background-position: 100% 100%, 0 100%;
	background-repeat: no-repeat;
	transition: background-size 200ms;
}

.worklisting a:hover,
.worklisting a:focus {
	background-size: 0 0.1em, 100% 0.1em;
	color: black;
}

.worklisting a:hover~.workdesc {
	color: black;
	transition: color 400ms;
}

.worklisting a:hover~span {
	color: black;
}

a.nda {
	color: #515151;
}
a.nda:hover,
a.nda:focus {
	color: #515151;
	background: none;
	background-size: 0%;
	text-decoration: none;
	cursor: not-allowed;
}

/* Archive Section */

.archive ul {
	list-style-type: none;
	color: #515151;
	padding: 20px;
	margin: 0px;
	list-style-position: outside;
	line-height: 1.8;
}

.archive li {
	list-style-position: inside;
	text-indent: -2.3em;
	margin-bottom: 0.5rem;
}

.archive li:before {
	content: "\2192";
	padding: 10px;
}

.archive a {
	color: #515151;
	text-decoration: none;
}
.archive a:hover {
	color: black;
	text-decoration: underline;
}

summary {
	font-family: 'CB';
	font-weight: 500;
}

.writing {
	margin-top: 7rem;
	padding: 0;
}



/* Teaching Section */

.workshop {
	margin-top: 7rem;
	padding: 0;
}


/* About Section */

.about-section {
	margin-top: 7rem;
	padding: 0;
}


.bio-section {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 2%;
	list-style-type: none;
	color: #515151;
	margin: 2rem 0;
	padding: 0;
}

.bio-section p {
	margin-bottom: 3px;
	color:rgb(71, 71, 71);
	font-weight: 300;
	font-size: 15px;
}
p.pdark {
	font-size: 15px;
	margin-bottom: 20px;
	color: black;
	font-weight: 400;
}

.achieve-section {
	color: #515151;
}


/* Contact Section */

.contact-section {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 2%;
	list-style-type: none;
	color: #000000;
	margin-top: 7rem;
	padding: 0;
}

.contact-section a {
	color: #515151;
	text-decoration: none;
	background: 
		linear-gradient(to right, rgba(100, 200, 200, 1), rgba(100, 200, 200, 1)),
		linear-gradient(to right, rgba(255, 0, 0, 1), rgba(255, 0, 180, 1), rgba(0, 100, 200, 1));
	background-size: 0% 0.1em, 0 0.1em;
	background-position: 100% 100%, 0 100%;
	background-repeat: no-repeat;
	transition: background-size 200ms;
}

.contact-section a:hover,
.contact-section a:focus {
	background-size: 0 0.1em, 100% 0.1em;
	color: black;
}

.contact-section a:hover~span {
	color: black;
	transition: color 400ms;
}

.contact-section .plight {
	font-size: 14px;
	line-height: 1.7;
	color: rgb(179, 179, 179);
}

.contact-section .plight a{
	font-size: 14px;
	color: rgb(77, 77, 77);
}

/* Last Updated Section */

.lastupdated {
	margin-top: 15rem;
}
.lastupdated p {
	color: #515151;
	font-size: 12px;
}

.lastupdated a {
	color: #515151;
	text-decoration: none;
}

.lastupdated a:hover {
	color: black;
	text-decoration: underline;
}
.lastupdated a:hover~span {
	color: black;
	transition: color 400ms;
}

span {
	color: #515151;
}

/* TABBOSS */
input { display: none; }                /* hide radio buttons */
input + label { display: inline-block } /* show labels in line */
input ~ .tab { display: none }          /* hide contents */
/* show contents only for selected tab */
#tab1:checked ~ .tab.content1,
#tab2:checked ~ .tab.content2,
#tab3:checked ~ .tab.content3,
#tab4:checked ~ .tab.content4,
#tab5:checked ~ .tab.content5 { display: block; }

input + label {             /* box with rounded corner */
    font-size: 12px;
	font-weight: 300;
    padding: 4px 12px 4px 0px;
    position: relative;
    top: 1px;
	color: #858484;
  }
  input:checked + label {     /* white background for selected tab */
	text-decoration: underline;
	color: black;
  }
  input ~ .tab {          /* grey line between tab and contents */

  }


  /* Visual Library  */

  .vl-section {
	padding: 0 1rem;
	max-width: 60rem;
	margin: 2rem auto;
	border-bottom: 1px solid #eee;
}
  .image-grid {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 1%;
	row-gap: 1%;
  }
  .vl-image {
	width: 100%;
	object-fit:cover;
}

.image-grid img {
	  width: 100%;
  }
