@font-face {
font-family: 'InterBold';
src: url("../fonts/Inter-Bold.ttf") format("truetype");
}

@font-face {
font-family: 'InterMed';
src: url("../fonts/Inter-Medium.ttf") format("truetype");
}

@font-face {
font-family: 'InterReg';
src: url("../fonts/Inter-Regular.ttf") format("truetype");
}

@font-face {
font-family: 'InterLight';
src: url("../fonts/Inter-Light.ttf") format("truetype");
}

@font-face {
font-family: 'InterThin';
src: url("../fonts/Inter-Thin.ttf") format("truetype");
}

@font-face {
font-family: SGLight;
src: url("../fonts/SpaceGrotesk-Light.woff") format("woff");
}

@font-face {
font-family: SGRegular;
src: url("../fonts/SpaceGrotesk-Regular.woff") format("woff");
}

@font-face {
font-family: SGBold;
src: url("../fonts/SpaceGrotesk-Bold.woff") format("woff");
}

@font-face {
font-family: SGSemiBold;
src: url("../fonts/SpaceGrotesk-SemiBold.woff") format("woff");
}

@font-face {
font-family: SGMedium;
src: url("../fonts/SpaceGrotesk-Medium.woff") format("woff");
}

@font-face {
font-family: ARegular;
src: url("../fonts/AndersonGrotesk.otf") format("opentype");
}

@font-face {
font-family: ALight;
src: url("../fonts/AndersonGrotesk-Light.otf") format("opentype");
}

@font-face {
font-family: ABold;
src: url("../fonts/AndersonGrotesk-Bold.otf") format("opentype");
}

@font-face {
font-family: AUBold;
src: url("../fonts/AndersonGrotesk-Ultrabold.otf") format("opentype");
}

:root {
	--mw: 37rem;
}

html {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.masthead {
	padding-top: 1rem;
	padding-bottom: 1rem;
	margin-bottom: 1rem;
	border-bottom: 1px solid #eee;
	box-sizing: border-box;
	display: block;
}

small {
	font-size: 80%;
	font-weight: 400;
	color: #c0c0c0;
	letter-spacing: 0;
	box-sizing: border-box;
}

.masthead-container {
	display: block;
	max-width: var(--mw);
	padding-left: 1rem;
	padding-right: 1rem;
	margin-left: auto;
	margin-right: auto;
	letter-spacing: -.025rem;
	margin-top: 0;
	margin-bottom: 0;
	color: #505050;
	text-rendering: optimizeLegibility;
}

.masthead-container a {
	text-decoration: none;
	color: black;
}

.main-section {
	padding-left: 1rem;
	padding-right: 1rem;
	max-width: var(--mw);
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 2rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid #eee;
}

.links-section {
	padding-left: 1rem;
	padding-right: 1rem;
	font-size: 13px;
	max-width: var(--mw);
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 3rem;
}

.links-section a {
	color: #505050;
}

.links-section a:hover {
	text-decoration: none;
}

.main-section a {
	color: #515151;
	font-weight: 400;
}

.main-section a:hover {
	text-decoration: none;
	color: black;
}

.main-section h4 {
	padding: 0;
}

.main-section ul {
	list-style-type: none;
	color: #515151;
	padding: 0;
}

.content-section {
	font-size: 15px;
	line-height: 1.7;
}

.bio-section {
	font-size: 13px;
	line-height: 1.5;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 3%;
	list-style-type: none;
	color: #515151;
	/*margin: 0;*/
	padding: 0;
}

.bio-section p {
	margin: 0;
}
