/* Import fonts */
@import url('general-sans.css');
@media (max-width: 600px) {
  body main {
    grid-template-columns: repeat(1, 1fr);
  }
}

body {
  background: rgb(51, 51, 51);
/*   font-family: -apple-system, system-ui, sans-serif; */
  font-family: 'GeneralSans-Variable';
  line-height: 1.3;
  padding-left: 2rem;
  padding-right: 2rem;
  display: grid;
  place-items: center;
}

header img {
  margin-top:1rem;
  max-width:80px;
}
main {
  margin-top: 15rem;
   margin-bottom: 5rem;
  max-width: 39rem;
/*   display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 5%;
  row-gap: 3%; */
}

h1 {
  margin-top: 5rem;
  font-size: 20px;
  color: white;
  font-family: '21CSR';
}

p {
  font-size: 25px;
  color: rgb(220, 220, 220);
  line-height: 1.5;
   margin-bottom: 5rem;
}

a {
  font-family: '21CSB';
  margin-top:15rem;
  font-size: 20px;
  text-decoration: none;
  margin-top: 5rem;
  font-size: 20px;
  color: white;
  transition: 0.2s;
}

a:hover{
  color:darkgreen;
}

/* button:hover {
  background: black;
}

button:hover > a {
  color: white;
} */
