/* Import fonts */
@import url("general-sans.css");
@media (max-width: 600px) {
  html body {
    padding-left: 0.1rem;
    padding-right: 0.1rem;
  }
  main .projects {
    grid-template-columns: repeat(1, 1fr);
  }

  body main .wrapper-post {
    display: block;
  }
}

html {
  padding: 0;
  margin: 0;
}
body {
  background: rgb(240, 240, 240);
  font-family: "GeneralSans-Variable";
  line-height: 1.3;
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-left: 2rem;
  padding-right: 2rem;
  justify-content: space-between;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
  color: white;
  mix-blend-mode: difference;
}

header a {
  color: white;
  mix-blend-mode: difference;
}

header a:hover {
  color: orange;
  text-decoration: underline;
  mix-blend-mode: normal;
  /*   mix-blend-mode: difference; */
}

header img {
  margin-top: 1rem;
  max-width: 80px;
  mix-blend-mode: difference;
}

.full-section {
  height: 100vh;
  width: 100vw;
  padding: 0;
  position: relative;
  text-align: center;
}

.full-section img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.full-section a {
  position: absolute;
  font-size: 20px;
  bottom: 150px;
  left: 106px;
  color: white;
  mix-blend-mode: difference;
}

.full-section a:hover {
  text-decoration: underline;
}

.full-section p {
  position: absolute;
  font-size: 20px;
  bottom: 98px;
  left: 106px;
  color: white;
  font-weight: 250;
  mix-blend-mode: difference;
}

.main-title {
  width: 100%;
}

.main-title h1 {
  font-family: "21CSB";
  text-align: center;
  font-size: 6rem;
}

.main-title p {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 29pt;
  font-weight: 450;
  margin-bottom: 8rem;
  text-align: center;
}

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2%;
  row-gap: 3%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

hr {
  border: 1px solid black;
}

img {
  width: 100%;
}

.projects img {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

h1 {
  font-size: 24px;
  font-weight: 650;
  color: black;
  letter-spacing: -0.6px;
  font-family: "21CSR";
}
h3 {
  font-size: 24px;
  color: black;
}
nav a {
  margin-left: 1rem;
  font-weight: 300;
  font-size: 22px;
}

nav span {
  text-decoration: underline;
  color: darkorange;
}

main {
  margin-bottom: 8rem;
}

a {
  text-decoration: none;
  color: rgb(50, 50, 50);
  transition: 0.2s;
}

a:hover {
  color: darkorange;
}

p {
  font-size: 24px;
}

.intro {
  margin-top: 0;
  font-size: 29pt;
  font-weight: 500;
  margin-bottom: 8rem;
}

.post-title {
  text-align: left;
  font-weight: 500;
  font-size: 20px;
  margin-top: 0.52rem;
  margin-bottom: 0;
}

.post-author {
  margin-top: 0;
  /*   text-align: center; */
  font-weight: 300;
  font-size: 18px;
}

.wrapper-post {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 3%;
  font-size: 24px;
  margin-bottom: 5rem;
}

.post-main-title {
  margin-bottom: 2rem;
  font-size: 39px;
  color: black;
}

.post-main-author {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 300;
}

.post-main-text {
  grid-column-start: 2;
  grid-column-end: 5;
  line-height: 1.4;
}

em {
  color: lightgrey;
  font-weight: 300;
}
