/* Import fonts */
@import url('general-sans.css');
@media (max-width: 600px) {
  html body {
    padding-left: 0.1rem;
    padding-right: 0.1rem;
  }
  main .projects {
    grid-template-columns: repeat(1, 1fr);
  }

  body main .wrapper-post {
    display: block;
  }
}

body {
  background: rgb(210, 210, 210);
  font-family: -apple-system, system-ui, sans-serif;
  line-height: 1.3;
  padding-left: 2rem;
  padding-right: 2rem;
}

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2%;
  row-gap: 3%;
}

hr {
  border: 1px solid black;
}



img {
  width: 100%;
}

.projects img {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit:cover;
}

header {
  margin-bottom: 6rem;
  display: flex;
  align-items: center;
  flex-direction: row;
}
h1 {
  font-size: 24px;
  font-weight: 600;
  color: black;
}
h3 {
  font-size: 24px;
  color: black;
}
nav a {
  margin-left: 1rem;
  font-weight: 300;
  font-size: 22px;
}

nav span {
  text-decoration: underline;
  color: darkorange;
}

main {
  margin-bottom: 8rem;
}

a {
  text-decoration: none;
  color: rgb(50, 50, 50);
    transition: 0.2s;
}

a:hover {
  color: darkorange;

}

p {
    font-size: 24px;
  }

.intro {
    margin-top: 0;
    font-size: 29pt;
    font-weight: 500;
    margin-bottom: 8rem;
  }

.post-title {
  text-align: left;
  font-weight: 500;
  font-size: 20px;
  margin-top: 0.52rem;
  margin-bottom: 0;
}

.post-author {
  margin-top: 0;
/*   text-align: center; */
  font-weight: 300;
  font-size: 18px;
}

.wrapper-post {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 3%;
  font-size: 24px;
  margin-bottom:5rem;
}

.post-main-title {
  margin-bottom: 2rem;
  font-size: 39px;
  color: black;
}

.post-main-author {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 300;
}

.post-main-text {
  grid-column-start: 2;
  grid-column-end: 5;
  line-height:1.4;
}


em {
  color:lightgrey;
  font-weight:300;
}