/* CSS files add styling rules to your content */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600&display=swap");

:root {
  --mw: 1280px;
  --cg: 10%;
}

@media only screen and (max-width: 1280px) {
  body .sketch-cover-section {
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: var(--mw);
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
    height: 400px;
    padding-top: 2rem;
    margin-bottom: 5rem;
    background: black;
    text-align: center;
  }
  body .sketch-section {
    display: none;
  }
}
@media only screen and (max-width: 800px) {
  .intro-section .intro-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .preface-section .preface-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .yearoverview-section .yearoverview-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .process-section .process-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .about-section .about-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  body .intro-section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .intro-section .intro-content {
    width: 90%
  }
}

html {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}
body {
  margin: 0;

  /*   font-family: Inter; */
  background: #DCDCDC;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

h1 {
  font-family: "Rajdhani", sans-serif;
  font-weight: 700;
  color: #CE3535;
  font-size: 72px;
}
h2 {
  font-family: "Rajdhani", sans-serif;
  font-weight: 600;
  color: white;
  font-size: 40px;
  margin-bottom: 2rem;
}
p {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  color: black;
  font-size: 14px;
  line-height: 1.6;
}

a {
  color: black;
}
a:hover {
  background: black;
  color: white;
}
ul {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

li {
  /*   margin-bottom: 0.5rem; */
  list-style-type: none;
  padding-bottom: 0.5em;
}

canvas {
  display: block;
}

.intro-section {
  height: 100vh;
  width: 100%;
    display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: var(--cg);
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}
.intro-image {
    background-image: url("https://cdn.glitch.com/103b5608-5092-47c4-a370-56e217da399c%2Fcalendar%20of%20conflict%20image.jpg?v=1602494769395");
  background-color: black;
   background-repeat: no-repeat;
  background-size: cover;
}
.intro-content {
  width: 70%;
  margin: auto;
/*   background: white; */
  padding: 1rem;
  text-align: left;
}
.intro-section p {
  width: 90%;
  font-size: 16px;
  line-height:1.7;
  font-weight: 500;
}

.preface-section {
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: var(--mw);
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2rem;
  margin-bottom: 4rem;
}
.preface-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: var(--cg);
}

/* SKETCH */
.sketch-cover-section {
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: var(--mw);
  margin-left: auto;
  margin-right: auto;
  display: none;
}
.sketch-section {
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: var(--mw);
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 800px;
  padding-bottom: 2rem;
  margin-bottom: 5rem;
  display: block;
}
.sketch-section p {
  font-family: "Rajdhani", sans-serif;
  font-size: 15px;
  font-weight: 500;
}
.sketch-buttons {
  display: flex;
  padding-top: 1rem;
  font-family: "Rajdhani", sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.sketch-buttons label {
  margin-right: 10px;
}
.sketch-buttons select {
  margin-right: 10px;
}

/* YEAR OVERVEIW */
.yearoverview-section {
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: var(--mw);
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2rem;
  margin-bottom: 4rem;
  font-family: Inter;
}
table {
  text-align: left;
  font-size: 13px;
  margin-bottom: 3rem;
}
.yearoverview-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: var(--cg);
}

.process-section {
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: var(--mw);
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2rem;
  margin-bottom: 4rem;
}
.process-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: var(--cg);
}
.about-section {
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: var(--mw);
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2rem;
  margin-bottom: 4rem;
}
.about-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: var(--cg);
}
