---
layout: layouts/about.njk
title: Salil Parekh / LAB
templateClass: tmpl-post
---

<div class="posts-page-wrapper">
</div>

<h2 class="post-headers">LAB</h2>

<section class="posts-wrapper">
    {# {% set taglist = collections['mfadt'] %}
    {% for post in taglist | reverse %}
    {% include "mainpagelist.njk" %}
    {% endfor %} #}

    <figure class="posts">
        <a href='https://burnedsap.github.io/ts/'>
          <div class="posts-link">
            <img
              class="posts-image"
              src ="theplanetarybureau/assets/listening-device-1.jpg"
            />
          </div>
          <p class="posts-title">
            <span>Thesis Studio</span> / 2022
          </p>
          <p class="posts-desc">
            Documentation of work from Thesis Studio
          </p>
        </a>
    </figure>

    <figure class="posts">
        <a href='/lab/computational-craft'>
          <div class="posts-link">
            <img
              class="posts-image"
              src ="../img/soft-breakout.jpg"
            />
          </div>
          <p class="posts-title">
            <span>Computational Craft</span> / 2022
          </p>
          <p class="posts-desc">
            Experiments with textiles and electronics
          </p>
        </a>
    </figure>

    <figure class="posts">
        <a href='/lab/experimental-narratives'>
          <div class="posts-link">
            <img
              class="posts-image"
              src ="../img/exnav.png"
            />
          </div>
          <p class="posts-title">
            <span>Experimental Narratives</span> / 2021
          </p>
          <p class="posts-desc">
            Documentation of projects created for the class Experimental Narratives
          </p>
        </a>
    </figure>

    <figure class="posts">
        <a href='https://olivierbrcknr.github.io/quantum-tetris/'>
          <div class="posts-link">
            <img
              class="posts-image"
              src ="../img/quantum-tetris.png"
            />
          </div>
          <p class="posts-title">
            <span>Quantum Tetris</span> / 2021
          </p>
          <p class="posts-desc">
            Winning entry for the IBM Quantum Jam
          </p>
        </a>
    </figure>

    <figure class="posts">
        <a href='http://burnedsap.github.io/pond/'>
          <div class="posts-link">
            <img
              class="posts-image"
              src ="https://burnedsap.github.io/pond/media/sl_5_c.png"
            />
          </div>
          <p class="posts-title">
            <span>Pond</span> / 2021
          </p>
          <p class="posts-desc">
            Creating an artificial life ecosystem with Processing
          </p>
        </a>
    </figure>

    <figure class="posts">
        <a href='https://burnedsap.github.io/ms2/'>
          <div class="posts-link">
            <img
              class="posts-image"
              src ="../img/wwfnis-1.png"
            />
          </div>
          <p class="posts-title">
            <span>Major Studio 2</span> / 2021
          </p>
          <p class="posts-desc">
            Documentation of work from Major Studio 2
          </p>
        </a>
    </figure>

    <figure class="posts">
        <a href='/lab/digital-pavements-nyc'>
          <div class="posts-link">
            <img
              class="posts-image"
              src ="../img/nycc.png"
            />
          </div>
          <p class="posts-title">
            <span>Digital Pavements NYC</span> / 2021
          </p>
          <p class="posts-desc">
            Co-creative project which re-imagines the use of pavements through speculative design
          </p>
        </a>
    </figure>

    <figure class="posts">
        <a href="/lab/ms1">
          <div class="posts-link">
            <img
              class="posts-image"
              src ="../img/Brick-Scene-2.png"/>
          </div>
          <p class="posts-title">
            <span>Major Studio 1</span> / 2020
          </p>
          <p class="posts-desc">
            Documentation of work from Major Studio 1
          </p>
        </a>
    </figure>

    <figure class="posts">
        <a href='/lab/calendar-of-conflict'>
          <div class="posts-link">
            <img
              class="posts-image"
              src ="../img/calendar-of-conflict.png"/>
          </div>
          <p class="posts-title">
            <span>Calendar of Conflict</span> / 2020
          </p>
          <p class="posts-desc">
            Data driven inquiry into the news from 2019 to find points of conflict
          </p>
        </a>
    </figure>

    <figure class="posts">
        <a href="/lab/cclab">
          <div class="posts-link">
            <img
              class="posts-image"
              src ="../img/lockdown-doors.png"/>
          </div>
          <p class="posts-title">
            <span>Critical Computation Projects</span> / 2020
          </p>
          <p class="posts-desc">
            Weekly projects created with p5.js
          </p>
        </a>
    </figure>

  </section>
